{{ form_start(articleForm, {
    attr: {
        'novalidate': 'novalidate'
    }
}) }}
    {{ form_row(articleForm.title, {
        label: 'Article title'
    }) }}
    {{ form_row(articleForm.author) }}
    {{ form_row(articleForm.content) }}
    {{ form_row(articleForm.publishedAt) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>

{{ form_end(articleForm) }}
